<h1>Search Results</h1>

<%= render("companies/search_form") %>

<ul>
  <% @companies.each do |item| %>
    <li>
      <a href="/companies/<%= item["company_number"] %>">
        <%= item["title"] %>
      </a>
    </li>
  <% end %>
</ul>
