<div id="header">
  <h1>Details of <%= @company.title %></h1>
  <h2>Company number: <%= @company.company_number %></h2>
</div>

<div id="content">
  <div id="overview">
    <h2>Overview</h2>
    <dl>
        <dt><strong>Registered office address</strong></dt>
        <%= render @company.registered_office_address %>
        <br/>
    </dl>
  </div>
</div>
